/* -------------------------------------------------------------------------------- */
/* Article */
/* -------------------------------------------------------------------------------- */

article {
  padding-left: 5vw;
  padding-right: 2vw;

  /* scrolling */
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

article .title-wrapper {
  position: relative;
  margin-top: 6vw;
}

article h1 {
  position: absolute;
  color: #C4C1C0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  z-index: -1;
  left: 0;
  right: 0;
  font-size: 15vw;
  top: -4.5vw;
  /* top: -17.5vw; */
}

article h2 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 6vw;
}

article section {
  padding: 3vw 0;
}

article p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.5vw;
  line-height: 5.8vw;
  margin: 0;
}

/* -------------------------------------------------------------------------------- */
/* Content page comment */
/* -------------------------------------------------------------------------------- */

.spread {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* -------------------------------------------------------------------------------- */
/* Title */
/* -------------------------------------------------------------------------------- */

.title {
  text-align: center;
  font-size: 4vw;
  font-family: 'Cormorant Garamond', serif;
}

.title .title-wrapper {
  margin-top: 15vw;
}

.title .title-wrapper h1 {
  text-transform: uppercase;
  letter-spacing: 0vw;
  font-size: 17vw;
  line-height: 11vw;
  font-weight: bold;
}

.title .title-wrapper h4 {
  letter-spacing: 1vw;
}

.title .instructions {
  font-size: 5vw;
  font-weight: bold;
}

.title .footer h3 {
  text-transform: uppercase;
  letter-spacing: 2vw;
}

/* -------------------------------------------------------------------------------- */
/* Table of Content */
/* -------------------------------------------------------------------------------- */

.toc {
  font-family: 'Cormorant Garamond', serif;
}

.toc h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2vw;
  font-weight: bold;
}

.toc .contents {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.toc ul {
  text-align: left;
  font-size: 3.2vw;
  line-height: 3.9vw;
}

.toc ul li {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.toc ul li .toc-title {
  padding-left: 1vw;
}

/* -------------------------------------------------------------------------------- */
/* Credits */
/* -------------------------------------------------------------------------------- */

.credits {
  padding-top: 2vw;
}

.credits p {
  font-size: 3.5vw;
  font-family: 'Cormorant Garamond', serif;
}

/* -------------------------------------------------------------------------------- */
/* Page */
/* -------------------------------------------------------------------------------- */

.articles {
  display: none;
}

html, body, .wrapper {
  height: 100%;
  overflow: hidden;
}

main { /* try to target css image background */
  /* background-color: rgba(255,0,0, 0.5); */
  margin-top: 13%;
  height: 82%;
  margin-left: 18%;
  margin-right: 4%;
}

html {
  background:
    url(data:image/png;base64,__BACKGROUND_IMAGE_B64__)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------------------------------------------------------------------------------- */
/* Header */
/* -------------------------------------------------------------------------------- */

header {
  padding-top: 2vw;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  top: 0;
}

header form {
}

header form input {
  height: 35px;
  -webkit-appearance: none;
}

/* -------------------------------------------------------------------------------- */
/* Input */
/* -------------------------------------------------------------------------------- */

input[name=songNumber] {
  width: 35px;
  height: 30px;
  text-align: center;
  border: 1px solid #7C7D7D;
  font-size: 16px; /* this prevents phone zooming in */
  background-color: white;
  z-index: 2;
}
