/* -------------------------------------------------------------------------------- */
/* Article */
/* -------------------------------------------------------------------------------- */

article .title-wrapper {
  position: relative;
  margin-top: 4vw;
}

article h1 {
  position: absolute;
  color: #C4C1C0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  z-index: -1;
  left: 0;
  right: 0;
  font-size: 15vw;
  top: -4.5vw;
  /* top: -17.5vw; */
}

article h2 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 6vw;
}

article section {
  padding: 3vw 0;
}

article p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.5vw;
  line-height: 5.8vw;
  margin: 0;
}

/* -------------------------------------------------------------------------------- */
/* Title */
/* -------------------------------------------------------------------------------- */

.title {
  text-align: center;
  font-size: 4vw;
  font-family: 'Cormorant Garamond', serif;
}

.title .title-wrapper {
  margin-top: 15vw;
}

.title .title-wrapper h1 {
  text-transform: uppercase;
  letter-spacing: 0vw;
  font-size: 13vw;
  line-height: 8vw;
  font-weight: 900;
}

.title .title-wrapper h4 {
  letter-spacing: 1vw;
}

.title .instructions {
  margin-top: 20vw;
  font-size: 6vw;
  font-weight: bold;
}

.title .footer {
  margin-top: 18vw;
}

.title .footer h3 {
  text-transform: uppercase;
  letter-spacing: 2vw;
}

/* -------------------------------------------------------------------------------- */
/* Credits */
/* -------------------------------------------------------------------------------- */

.credits p {
  font-size: 3.5vw;
  font-family: 'Cormorant Garamond', serif;
}

/* -------------------------------------------------------------------------------- */
/* Page */
/* -------------------------------------------------------------------------------- */

.articles {
  display: none;
}

.wrapper {
  padding: 4vw;
}

main {
  padding-left: 21vw;
  padding-right: 10vw;

  /* scrolling */
  /*height: 75%; */
  /*height: 400px; */
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

html {
  background:
    url(data:image/png;base64,__BACKGROUND_IMAGE_B64__)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------------------------------------------------------------------------------- */
/* Header */
/* -------------------------------------------------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vw;
}

header form {
  display: flex;
  align-items: center;
  justify-content: center;
}

header form input {
  height: 35px;
  -webkit-appearance: none;
}

/* -------------------------------------------------------------------------------- */
/* Input */
/* -------------------------------------------------------------------------------- */

input[name=songNumber] {
  width: 40px;
  text-align: center;
  border: 1px solid #7C7D7D;
  font-size: 16px; /* this prevents phone zooming in */
}
